[Unit]
Description=SuperMachine Polybar
PartOf=graphical-session.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/bin/polybar --reload home
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
